.container {
    margin-top: 35px;
}

[class*="col-"]{
    background-color:rgba(0, 108, 250, 1) ;
    border: 1px white solid;
    color:white;
}


.green {
    background-color:rgba(0, 225, 101, 1);
    border: 1px rgba(0, 225, 101, 1) solid;
}
